@media(max-width: 1080px){

    .partners__grid{
        grid-template-columns: repeat(3,1fr);
        gap: 20px;
    }
    .plans__grid{
        grid-template-columns: 1fr 1fr;
        row-gap: 40px;
    }
    .nav__link:not(:last-child){
        margin-right: 15px;
    }
    .nav__btn_login{
        margin-right: 15px;
    }
    .tabs__cp{
        transform: scale(0.8);
    }
}
@media(max-width: 862px){
    .container{
        max-width: 792px;
    }

    .arrow{
        display: none;
    }
    .nt__left-arrow{
        display: none;
    }
    .nt__right-arrow{
        display: none;
    }
    .platforms__grid{
        grid-template-columns: repeat(4, 1fr);
        row-gap: 6%;
    }
    .tabs__cp{
        transform: scale(0.7);
    }
}
@media (max-width: 810px){
    .burger{
        display: block;
    }
    .header__nav{
        display: none;
    }
    .header__btns{
        display: none;
    }
    .desktop__logo{
        display: none;
    }
    .mobile__logo{
        display: block;
    }
    .tw-tab{
        left: -170px;
        bottom: 100px;
    }
    .pt-tab{
        left: -170px;
        bottom: 22px;
    }
    .fb-tab{
        left: -170px;
        bottom: -50px;
    }
    .bl-tab{
        left: -170px;
        bottom: -130px;
    }
}

@media (max-width: 768px) {
    .container{
        max-width: 708px;
    }

    .home__title, .nt__title{
        font-size: 48px;
    }
    .home__subtitle{
        font-size: 16px;
    }
    .nt__box{
        width: 409px;
        height: 148px;
    }
    .nt__subtitle{
        font-size: 14px;
        line-height: 150%;  
        max-width: 500px;
    }
    .pros__text{
        font-weight: 900;
    }
    .partners__grid{
        grid-template-columns: 1fr 1fr;
        gap: 24px;
    }
    .footer{
        padding: 80px 0;
    }
    .darklogo{
        max-width: 170px;
    }
    .footer__nav{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .footer__links{
        margin-top: 49px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .footer__link{
        margin: 40px 0 0;
        font-weight: 400;
        font-size: 18px;
        line-height: 100%;
    }
    .footer__link:last-of-type{
        margin: 40px 0 0;
    }
    .pros__text{
        font-size: 48px;
        line-height: 120%;
    }

}
@media (max-width: 660px) {
    .plans__grid{
        grid-template-columns: 1fr;
    }
    .save{
        display: none;
    }

    .nt__box{
        width: 339px;
        height: 118px;
    }
    .nt__tab{
        width: 291px;
        height: 70px;
    }
    .nt__tab::before{
        height: 70px;
    }
    .grid__partner a{
        width: 70%;
    }
    .grid__partner a > img{
        width: 100%;
    }
    
}



@media (max-width: 375px) {
    .container{
        max-width: 347px;
        padding: 0;
    }
    .home{
        height: 812px;
    }
    .home__title{
        font-weight: 900;
        font-size: 36px;
        line-height: 112%;
        margin: 80px auto 0;
    }
    .home__subtitle{
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        max-width: 286px;
        text-align: center;
    }
    .home__gs-button{
        width: 139px;
        height: 44px;
        margin-top: 32px;
        font-weight: 700;
        font-size: 14px;
        line-height: 140%;
    }
    .tabs__cp{
        transform: scale(0.9);
        position: relative;
        width: 0px;
        padding: 0;
        margin: 220px auto 0;
    }
    .no-tabs{
        padding: 80px 0;
    }
    .nt__container{
        max-width: 351px;
    }
    .nt__title{
        font-style: normal;
        font-weight: 600;
        font-size: 34px;
        line-height: 112%;
    }
    .nt__box{
        margin: 80px auto 0;
        width: 339px;
        height: 118px;
    }
    .nt__top-arrow{
        display: block;
        top: -50px;
        right: 0;
    }
    .nt__bottom-arrow{
        display: block;
        bottom: -50px;
        left: 0;
    }
    .nt__tab{
        width: 90%;
        height: 50%;
        font-weight: 400;
        font-size: 20.3023px;
        line-height: 24px;
    }
    .nt__tab::before{
        width: 28%;
        height: 50%;
    }
    .nt__tab > svg{
        width: 27px;
        height: 27px;
    }
    .nt__subtitle{
        margin: 80px auto 0;
        width: 90%;
        font-weight: 500;
        font-size: 14px;
        line-height: 150%;
    }
    .pros {
        padding: 80px 0;
    }
    .pros__text{
        font-weight: 900;
        font-size: 36px;
        line-height: 43px;
        padding: 0 12px;
    }
    .partners {
        padding: 80px 0;
    }
    .partners__title{
        font-weight: 900;
        font-size: 36px;
        line-height: 43px;
        text-align: center;
    }
    .partners__grid{
        grid-template-columns: repeat(2,1fr);
        gap: 14px;
        padding: 0 3px;
    }
    .grid__partner{
        width: 100%;
        height: 74px;
        padding: 0;
    }
    .grid__partner a{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .grid__partner a > img{
        height: 100%;
        width: 100%;
    }
    .platforms{
        padding: 80px 0;
    }
    .tweets{
        padding-top: 32px;
    }
    .tweet:nth-child(1){
        margin: 0;
    }
    .more__btn{
        margin: 32px auto 0;
        width: 152px;
        height: 44px;
        font-weight: 700;
        font-size: 14px;
        line-height: 140%;
    }
    .nt__title{
        font-weight: 900;
        font-size: 36px;
        line-height: 43px;
    }
    .subscription{
        padding: 80px 15px;
    }
    .save__mobile{
        display: block;
        position: absolute;
        left: 215px;
        bottom: -60px;
    }
    .plans__grid{
        margin-top: 80px;
        row-gap: 24px;
    }
    .plan__card{
        height: 602px;
    }
    .plan__pros{
        margin-top: 14px;
    }
    .plan__desc{
        padding-bottom: 24px;
    }

    .toggle__label{
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
    }
    #subscription__type::before{
        height: 44px;
        top: 5px;
    }
    #subscription__type::after{
        height: 28px;
        width: 28px;
        top: 13px;
    }
    #subscription__type:checked::after{
        left: 189px;
    }
    .join-us{
        padding: 80px 0;
    }
    .join-us__text{
        font-size: 36px;
        line-height: 112%;  
    }
    .join-us__btn{
        margin: 32px auto 0;
        width: 106px;
        height: 44px;
        font-size: 14px;
        line-height: 140%;
    }
}